<h1>Profile</h1>
<% form_for :profile,:html => { :multipart => true } do |f| %>


  <div><%= f.file_field :image%></div>

  <% end %>
    <table border="4" width=100px height=100px>
  <tr>
    <td>photo space</td>
  </tr>
</table>
   <br>
USERNAME :  <%= current_authen.Username %> <br><br>
EMAIL : <%= current_authen.email %><br><br>
COUNTRY : <%= current_authen.Country %>

<span style ="position:absolute;right:0;bottom:0">
  <%= link_to "EDIT ACCOUNT", edit_authen_registration_path %>
</span>
